@use "../../global" as g;
//  基本
.p-button {
    display: block;
    position: relative;
    width: fit-content;
    max-height: 62rem; //global.vwmax(62);
    padding: 16rem; //global.vwmax(16); // 64px;
    padding-left: 24rem; //global.vwmax(24);
    font-weight: 500;
    font-size: 20rem; //global.vwmax(20);
    line-height: 30rem; //global.vwmax(30);
    letter-spacing: 0.08rem;
    text-align: left;
    transition: 0.3s;
    cursor: pointer;
}

.p-button__cv {
    padding: 0 38px 0 40px;
    letter-spacing: g.rem(3.1);
}

//----------------------------------------
//  レスポンシブ
//----------------------------------------
@include g.mq('-md') {
    .p-button__cv {
        font-size: g.rem(14);
        padding: 0 26px 0 27px;
        height: 38px;
        letter-spacing: g.rem( 3);
    }
}