@use "../../global" as g;
.p-visual {
    position: relative;
    //margin-top: 96px;
    margin-top: 0px;
    &.gym {
        margin-top: 0px;
    }
}

.p-visual__yoga {
    width: 100%;
    height: 547px;
    clip-path: polygon(0 13%, 100% 0%, 100% 88%, 0% 100%);
    background-color: g.$color-lightgray;
    background-image: url(../images/visual/yoga-pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1440/547;
    z-index: -1;
    //  MEMBER'SVOICEの背景被らせるため
    transform: translate(0, 96px);
}

.p-visual__gym {
    width: 100%;
    height: 400px;
    //clip-path: polygon(0 13%, 100% 0%, 100% 88%, 0% 100%);
    background-color: g.$color-lightgray;
    background-image: url(../images/visual/gym-pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1440/400;
    z-index: -1;
}

//----------------------------------------
//  レスポンシブ
//----------------------------------------
@include g.mq('-md') {
    .p-visual__yoga {
        width: 100%;
        height: 250px;
        clip-path: polygon(0 13%, 100% 0%, 100% 87%, 0% 100%);
        background-image: url(../images/visual/yoga-sp.jpg);
        aspect-ratio: 375/250;
        //  MEMBER'SVOICEの背景被らせるため
        transform: translate(0, 58px);
    }
    .p-visual__gym {
        width: 100%;
        height: 225px;
        background-image: url(../images/visual/gym-sp.jpg);
        aspect-ratio: 375/225;
    }
}